#btnEdit {
    font-size: 12px;
    background-color: #008CBA;
}

#btnDelete {
    font-size: 12px;
    background-color: #f44336;
}

#btnAdd {
    font-size: 12px;
    background-color: MediumSeaGreen;
}

.btn {
    border: none;
    /* color: white; */
    padding: 15px 32px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.edit {
    width: 100%;
    height: 25px;
}

.editMode {
    border: 1px solid black;
}